 .about{
    height: 40vh;
    margin: 8%;
    border-radius: 20px;
    padding: 5%;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    background-color: #36B1BF;
}
  .about h1 {
    font-size: 48px;
    color: #F9F8EA;
  }

  .about p {
    font-size: 20px;
    color: #F9F8EA;
    font-family: 'Poppins', sans-serif;
  }

  @media (max-width: 991px) {
    .about .about-img img {
      max-width: 70%;
    }
  }

  @media (max-width: 767px) {
    .about .about-img img {
      max-width: 90%;
    }
  }