#cover-dashboard {
    height: 55vh;
    background: #fff;
    margin-top: 8%;
    width: 800px;
    margin-right: 10%;
    margin-left: 30%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  #cover-dashboard h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #4e4039;
  }

  #cover-dashboard h2 {
    color: #a08f86;
    margin: 15px 0 0 0;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
  }

  .cover-dashboard-container{
    margin-left: 5%;
  }

  #cover-dashboard .btn-get-started {
    background: #F5A503;
    color: #F9F8EA;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
  }

  #cover-dashboard .btn-get-started:hover {
    background: #F2385A;
  }

  #cover-dashboard .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  .img-dog{
      border-radius: 20px;
      margin-left: 10%;
  }

  @media (max-width: 991px) {
    #cover-dashboard {
      height: calc(100vh - 72px);
    }
    #cover-dashboard .animated {
      -webkit-animation: none;
      animation: none;
    }
    #cover-dashboard .cover-dashboard-img {
      text-align: center;
    }
    #cover-dashboard .cover-dashboard-img img {
      width: 100%;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }