.home-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title-section{
    width:40vw;
    background-color: #2D364C ;
    height: 50vh;
    padding:2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-text{
    color:#fff;
    font:Gotham Titles;
    margin:20px;
}

.home-icons{
  width:1200px;
  margin:0 auto;
  padding:75px 0;
  display:flex;
  justify-content: space-around;
}