.client-list{
    height: 100vh;
    border: green solid 10px;
}

.driver-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    border-radius: 15px;
    background-color: #455eb5;
    color: #fff;
    align-content: center;
  }
  .driver-image{
    border-radius: 50%;
  }
