.profile-card-general{
    margin-left: 25%;
    margin-top: 10%;
}

.card-profile-picture{
  border-radius: 50px;
}

.card-pc {
  width: 650px;
  height: 450px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card-pc h1 {
  text-align: center;
}

.card-pc .additional-pc {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#F2385A, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card-pc.green .additional-pc {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card-pc:hover .additional-pc {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card-pc .additional-pc .user-card-pc {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card-pc .additional-pc .user-card-pc::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card-pc .additional-pc .user-card-pc .level,
.card-pc .additional-pc .user-card-pc .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card-pc .additional-pc .user-card-pc .points {
  top: 85%;
}

.card-pc .additional-pc .user-card-pc svg {
  top: 50%;
}

.card-pc .additional-pc .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card-pc .additional-pc .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card-pc.green .additional-pc .more-info h1 {
  color: #224C36;
}

.card-pc .additional-pc .coords {
  margin: .5rem 2rem;
  color: #fff;
  font-size: 1rem;
}

.card-pc.green .additional-pc .coords {
  color: #325C46;
}

.card-pc .additional-pc .coords span + span {
  float: right;
}

.card-pc .additional-pc .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card-pc.green .additional-pc .stats {
  color: #325C46;
}

.card-pc .additional-pc .stats > div {
  flex: 1;
  text-align: center;
}

.card-pc .additional-pc .stats i {
  display: block;
}

.card-pc .additional-pc .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-pc .additional-pc .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card-pc .additional-pc .stats div.value.infinity {
  font-size: 2.5rem;
}

.card-pc .general-pc {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 100px;
  box-sizing: border-box;
  padding-top: 0;
}

.card-pc .general-pc .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}


