*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  .user-name{
      font-size: 30px;
  }

  .top_navbar{
      top: 0;
  }

  .logo{
      top: 0
  }

  .profile-pic-user{
      border-radius: 100%;
      width: 100px;
      margin-bottom: 10px;
  }

  .main_body .sidebar_menu{
        position: fixed;
        top: 0px;
        left: 0;
        background: #F5A503;
        width: 220px;
        height: 100%;
        transition: all 0.3s linear;
  }

  .main_body .sidebar_menu .inner__sidebar_menu{
      position: relative;
  }

  .main_body .sidebar_menu ul li a{
    color: #fff;
    font-size: 18px;
    padding: 20px 20px;
    display: block;

  }

  .main_body .sidebar_menu ul li a .icon-sidebar{
    margin-right: 8px;
  }

  .main_body .sidebar_menu ul li a span{
    display: inline-block;
  }

  .main_body .sidebar_menu ul li a:hover{
    background: #36B1BF;
    color: #fff;
    border-radius: 40px;
  }

  .main_body .sidebar_menu ul li a.active{
    background: #Fff;
    color: #F5A503;
  }

  .main_body .sidebar_menu .hamburger{
    position: absolute;
    top: 5px;
    right: -25px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
  }

  .main_body .sidebar_menu .inner_hamburger,
  .main_body .sidebar_menu .hamburger .arrow{
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
  }

  .main_body .sidebar_menu .inner_hamburger{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    background: #F5A503;
  }

.arrow{
  animation: beat 1.5s infinite alternate;
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(.8); }
}