.cards-list {
    z-index: 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20%;
  }

  .container{
      height: 100px !important;
      padding-right: 800px !important;
  }

  .card {
    margin: 30px auto;
    width: 120px;
    height: 120px;
    border-radius: 100px !important;
    cursor: pointer;
    transition: 0.4s;
  }

  .card .card-image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    background-color: #36B1BF;
  }

  .card .card-image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title-white {
    color: white;
  }

  .title-black {
    color: black;
  }

  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
