@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

.App {
  align-items: center;
}

.calendar {
  width: 70%;
  height: 50%;
  color: rgb(13, 104, 121);
}

